<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--微信公众平台API-->
    <add key="wechat_api_url" value="https://api.weixin.qq.com/cgi-bin/"/>
    <!--上传文件api-->
    <add key="wechat_file_url" value="http://file.api.weixin.qq.com/cgi-bin/"/>
    <!--appid-->
    <add key="wechat_appid" value="wx63763147319ce376"/>
    <!--appSecret-->
    <add key="wechat_secret" value="bb98cdde2cd8075695684be5608145bf"/>
  </appSettings>
  <!--<connectionStrings>
    <add name="NhhConnStr" connectionString="Data Source=192.168.1.107;Initial Catalog=NHH;Persist Security Info=True;User ID=nhh;Password=nhh@123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>