<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--微信公众平台API-->
    <add key="wechat_api_url" value="https://api.weixin.qq.com/cgi-bin/"/>
    <!--appid-->
    <add key="wechat_appid" value="wxe9d2b1a72e031deb"/>
    <!--appSecret-->
    <add key="wechat_secret" value="fedaeca1673590f9460265e956c5db86"/>
  </appSettings>
  <!--<connectionStrings>
    <add name="NhhConnStr" connectionString="Data Source=192.168.1.107;Initial Catalog=NHH;Persist Security Info=True;User ID=nhh;Password=nhh@123" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>